.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-background-color);
  width: 100%;
  height: auto;

  .footer__nav {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    max-width: 1200px;
    width: 100%;
    padding: 80px 40px 45px;
    gap: 5vh;
    
    @media (min-width: 768px){
      flex-direction: row;
      height: 416px;
      gap: 0;
    }

    .footer__column {
      display: flex;
      justify-content: center;
      width: 100%;
      height: 100%;
      margin: 0 15px;
    }

    .footer__column--legal {
      align-items: flex-start;
      justify-content: center;
      max-width: 300px;

      .footer__legal-link {
        font: 12px istok web, sans-serif;
        color: var(--secondary-accent-color);
        font-weight: 800;
      }
    }

    .footer__column--legal--left {
      @media(min-width: 768px) {
        justify-content: flex-start;
      }
    }

    .footer__column--legal--right {
      @media(min-width: 768px) {
        justify-content: flex-end;
      }
    }

    .footer__column--main {
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      max-width: 600px;
      gap: 2vh;

      .footer__description {
        font:
          17px chivo,
          sans-serif;
        color: var(--hero-description-color);
        text-align: center;
        font-style: italic;
      }

      .footer__list {
        display: flex;
        align-items: center;
        justify-content: center;
        list-style: none;
        padding: 0;

        flex-direction: column;
        gap: 25px 0;

        @media (min-width: 768px) {
          flex-direction: row;
          gap: 0 25px;
        }
        
        .footer__link {
          color: var(--secondary-accent-color);
          font:
            15px chivo,
            sans-serif;
          font-weight: 600;
          text-decoration: none;
        }
      }

      .footer__social {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0 15px;
      }
    }
  }

  .footer__divider {
    background-color: var(--footer-divider-color);
    display: block;
    height: 1px;
    max-width: 1170px;
    width: 100%;
  }

  .footer__copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    width: 100%;
    padding: 3vh 0;
    
    .footer__copyright-text {
      font: 15px chivo, sans-serif;
      color: var(--primary-accent-color);
      font-weight: 550;
    }
  }
}
