.header__nav-wrapper{
    /* background-color: var(--primary-background-color); */
    width:100%;
    height: 109.58px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.header__nav{
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 15px;
}

.nav__menu{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav__logo{
    width: 105.73px;
    height: 49.59px;
}

.nav__button{
    background-color: var(--primary-accent-color);
    color: var(--header-button-accent-color);
    max-width: 194.82px; 
    width: 194.82px;
    height: 46.8px;
    font: 14px chivo, sans-serif;
}

.nav__menu{
    gap: 0 25px;
    .nav__link{
        color: var(--secondary-accent-color);
        font: 15px chivo, sans-serif;
        font-weight: 600;
    }
}