@import url("https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

:root {
  --primary-background-color: #c6cfac;
  --primary-accent-color: #325956;
  --header-button-accent-color: #f1e6e1;
  --secondary-accent-color: rgba(87, 114, 112, 0.92);
  --hero-description-color: #668280;

  --trust-background-color: #f1ded1;
  --trust-primary-highlight-color: #db9b3c;
  --trust-secondary-highlight-color: rgba(193, 139, 59, 0.64);

  --ingredients-background-color: #edc8e5;
  --ingredients-primary-accent-color: #7d318a;
  --ingredients-secondary-accent-color: #7d318aa3;
  --ingredients-description-color: #3716466e;

  --promo-strip-color: #e2bada;

  --about-secondary-text-color: #cdd5b3b3;
  --about-primary-accent-color: #c8d1af;

  --benefits-background-color: #f6f2d3;
  --benefits-secondary-background-color: #9b8f2230;
  --benefits-primary-accent-color: #a39135;
  --benefits-secondary-accent-color: #9b8f33b8;
  --benefits-description-color: #9b8f22ad;
  
  --footer-divider-color: #aab99d;

  --transition-speed-buttons: 0.15s;
}

.nav__logo{
    width: 105.73px;
    height: 49.59px;
}

.outlined_2wD {
  .border_2yy,
  .logo_2gS {
    fill: var(--primary-accent-color);
  }

  .outer_bDW {
    fill: transparent;
  }
}

.outlined_2wD:hover {
  .border_2yy,
  .logo_2gS {
    fill: transparent;
  }

  .outer_bDW {
    fill: var(--primary-accent-color);
  }
}
