.main__benefits {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;

  gap: 20px 0;

  background-color: var(--benefits-background-color);

  width: 100%;

  @media (min-width: 768px) {
    flex-direction: row;
  }

  .benefits__image-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    aspect-ratio: 16/12;

    @media (min-width: 768px) {
      width: 50%;
      min-height: auto;
    }

    .benefits__image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .benefits__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 95px 30px 90px;
    background-color: var(--benefits-background-color);
    gap: 5vh;

    @media (min-width: 768px) {
      max-width: 50%;
      padding: 120px 30px 125px;
    }

    img {
      width: 40px;
      height: 40px;
    }

    .benefits__header {
      display: flex;
      flex-direction: column;
      max-width: 570px;
      gap: 2vh;

      .benefits__title {
        font:
          48px istok web,
          sans-serif;
        color: var(--benefits-primary-accent-color);
        margin: 0;
      }

      .benefits__subtitle {
        font:
          19px chivo,
          sans-serif;
        margin: 0;
        color: var(--benefits-secondary-accent-color);
      }

      .benefits__description {
        font:
          17px chivo,
          sans-serif;
        margin: 0;
        color: var(--benefits-description-color);
      }
    }

    .benefits__social {
      display: flex;
      flex-direction: column;
      max-width: 570px;
      gap: 2vh;

      .benefits__social-item {
        display: flex;
        flex-direction: row;

        .benefits__social-image {
          display: flex;
          background-color: var(--benefits-secondary-background-color);
          align-items: center;
          justify-content: center;
          aspect-ratio: 1/1;
          width: 70px !important;
          height: 70px;
          border-radius: 50%;
        }

        .benefits__social-body {
          .benefits__social-title {
            font:
              24px istok web,
              sans-serif;
            color: var(--benefits-primary-accent-color);
          }

          .benefits__social-text {
            font:
              17px chivo,
              sans-serif;
            color: var(--benefits-description-color);
          }
        }
      }
    }
  }
}
