.main__certificates {
  background-color: var(--primary-background-color);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 125px 30px;

  @media (min-width: 1024px) {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .certificates__info {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media (min-width: 1024px) {
      max-width: 370px;
    }

    .certificates__title {
      font:
        48px Istok Web,
        sans-serif;
      color: var(--primary-accent-color);
    }

    .certificates__subtitle {
      font:
        19px Chivo,
        sans-serif;
      color: var(--secondary-accent-color);
    }

    .certificates__description {
      font:
        17px Chivo,
        sans-serif;
      color: var(--hero-description-color);
    }
  }
}

.splide {
  padding: 0 30px;

  @media (min-width: 1024px) {
    max-width: 800px;
    width: 100%;
  }
}

.splide__slide {
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}

.splide__slide img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: contain;
}

.splide__arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent; 
  border: none; 
  box-shadow: none;
}

.splide__arrow:hover {
  path{
    stroke: var(--promo-strip-color);
    transition: stroke var(--transition-speed-buttons) ease;
  }
}

.splide__arrow svg {
  width: 24px;
  height: 24px;
}
