.main__testimonials {
    background-image: url(../img/bg-testimonials.svg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 120px 0 110px;
    gap: 25px;

    .testimonials__title{
        font: 48px istok web, sans-serif;
        color: var(--trust-primary-highlight-color);
        font-weight: 500;
        text-align: center;
        margin: 0;
    }
    .testimonials__subtitle{
        font: 19px chivo, sans-serif;
        color: var(--trust-secondary-highlight-color);
        text-align: center;
        margin: 10px 0 0;
    }

    .testimonial{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        .testimonial__photo-container {
            height: 120px;
            overflow: hidden;
        }
        .testimonial__photo {
            border-radius: 50%;
            height: 100%;
            width: auto;
        }
        .testimonial__name {
            font: 24px istok web, sans-serif;
            color: var(--trust-primary-highlight-color);
            font-weight: 500;
        }
        .testimonial__text {
            font: 17px chivo, sans-serif;
            color: var(--trust-secondary-highlight-color);
            text-align: center;
        }
        .testimonial__date{
            font: 15px chivo, sans-serif;
            color: var(--trust-primary-highlight-color);
        }
    }
}