.main__certificates {
  background-color: var(--primary-background-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;

  .certificates__info {
    display: flex;
    flex-direction: column;
    max-width: calc(var(--certificates-max-width, 370px));
    gap: calc(var(--certificates-gap, 20px));
    padding: calc(var(--certificates-padding-vertical, 125px)) 0;

    .certificates__title {
      font:
        calc(var(--certificates-title-font-size, 48px)) Istok Web,
        sans-serif;
      color: var(--primary-accent-color);
    }

    .certificates__subtitle {
      font:
        calc(var(--certificates-subtitle-font-size, 19px)) Chivo,
        sans-serif;
      color: var(--secondary-accent-color);
    }

    .certificates__description {
      font:
        calc(var(--certificates-description-font-size, 17px)) Chivo,
        sans-serif;
      color: var(--hero-description-color);
    }
  }
}

