.main__about {
  background-color: var(--primary-accent-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 16px;

  @media (min-width: 768px) {
    padding: 0 40px;
  }

  .about__header,
  .about__carousel {
    width: 100%;
    max-width: 1200px;
    padding: 0 16px;

    @media (min-width: 768px) {
      padding: 0 32px;
    }
  }

  .about__header {
    padding: 60px 0 25px;

    @media (min-width: 768px) {
      padding: 120px 0 25px;
    }

    .about__hero {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      gap: 30px;

      @media (min-width: 992px) {
        flex-direction: row;
        align-items: flex-start;
      }

      .about__headline {
        width: 100%;
        max-width: 555px;
        text-align: center;
        @media (min-width: 992px) {
          text-align: left;
        }

        .about__title {
          font:
            36px istok web,
            sans-serif;
          color: var(--primary-background-color);

          @media (min-width: 768px) {
            font-size: 48px;
          }
        }
      }

      .about__intro {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;

        .about__intro-content {
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
          width: 100%;
          max-width: 570px;

          @media (min-width: 576px) {
            flex-direction: row;
            text-align: left;
            align-items: flex-start;
          }

          .about__intro-image {
            width: 50px !important;
            height: 50px;
            aspect-ratio: 1/1;
            margin: 0 0 15px 0;

            @media (min-width: 576px) {
              margin: 0 15px 0 0;
            }
          }

          .about__intro-text {
            font:
              15px chivo,
              sans-serif;
            font-style: italic;
            color: var(--about-secondary-text-color);
            width: 100%;
            max-width: 520px;

            @media (min-width: 768px) {
              font-size: 17px;
            }
          }
        }

        .about__signature-container {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;

          @media (min-width: 576px) {
            justify-content: flex-end;
          }

          .about__signature {
            font:
              12px istok web,
              sans-serif;
            color: var(--about-primary-accent-color);
          }
        }
      }
    }

    .about__content {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: auto;
      gap: 30px;
      margin-top: 50px;

      @media (min-width: 768px) {
        flex-direction: row;
        justify-content: space-between;
        gap: 20px;
        margin-top: 0;
      }

      .about__content-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        @media (min-width: 480px) {
          flex-direction: row;
          text-align: left;
        }

        .about__content-image {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 70px;
          min-width: 70px;
          aspect-ratio: 1/1;
          border-radius: 50%;
          background-color: var(--primary-background-color);
          margin-bottom: 10px;
          @media (min-width: 480px) {
            margin-bottom: 0;
          }

          img {
            width: 69%;
            height: auto;
          }
        }

        .about__content-body {
          width: 100%;
          max-width: 295px;
          padding: 0 7.5px;

          .about__content-title {
            font:
              12px istok web,
              sans-serif;
            color: var(--about-primary-accent-color);
            margin-bottom: 4px;
          }

          .about__content-text {
            font:
              15px chivo,
              sans-serif;
            color: var(--about-secondary-text-color);

            @media (min-width: 768px) {
              font-size: 17px;
            }
          }
        }
      }
    }
  }

  .about__carousel {
    padding: 30px 0;
    width: 100%;
    position: relative;

    .splide__arrow--prev {
      transform: translateX(0) translateY(-20px);

      @media (min-width: 1024px) {
        transform: translateX(-30px) translateY(-20px);
      }
    }

    .splide__arrow--next {
      transform: translateX(0) translateY(-20px);

      @media (min-width: 1024px) {
        transform: translateX(50px) translateY(-20px);
      }
    }

    .splide__track {
      padding: 0 10px;

      @media (min-width: 768px) {
        padding: 0 15px;
      }

      .splide__slide {
        .about__carousel-slide {
          display: block;
          overflow: hidden;
          width: 100%;
          aspect-ratio: 360/348;
        }

        .sea {
          background-image: url(../img/product-sea.webp);
          background-size: cover;
          background-position: top;
          background-repeat: no-repeat;
        }
        .girl {
          background-image: url(../img/girl-cream.webp);
          background-size: cover;
          background-position: top;
          background-repeat: no-repeat;
        }
        .puddle {
          background-image: url(../img/product-puddle.webp);
          background-size: cover;
          background-position: top;
          background-repeat: no-repeat;
        }
        .hands {
          background-image: url(../img/hands-cream.webp);
          background-size: cover;
          background-position: top;
          background-repeat: no-repeat;
        }
        .leaf {
          background-image: url(../img/product-leaf.webp);
          background-size: cover;
          background-position: top;
          background-repeat: no-repeat;
        }
      }
    }
  }
}
