.main__ingredients {
  display: flex;
  flex-direction: column;

  justify-content: space-between;
  overflow: hidden;

  gap: 20px 0;

  background-color: var(--ingredients-background-color);

  width: 100%;

  @media (min-width: 768px) {
    flex-direction: row;
    /* max-height: 712.8px; */
  }

  .ingredients__image-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    aspect-ratio: 16/12;

    @media (min-width: 768px) {
      width: 50%;
      min-height: auto;
    }

    .ingredients__image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .ingredients__content-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 95px 30px 90px;
    background-color: var(--ingredients-background-color);

    @media (min-width: 768px) {
      max-width: 50%;
      padding: 120px 30px 125px;
    }
    .ingredients__content {
      display: flex;
      flex-direction: column;
      max-width: 570px;
      gap: 25px;
      
      .ingredients__title {
        font:
        48px istok web,
        sans-serif;
        color: var(--ingredients-primary-accent-color);
        line-height: 1;
        margin: 0;
      }
      .ingredients__subtitle {
        font:
          19px chivo,
          sans-serif;
        margin: 0;
        color: var(--ingredients-secondary-accent-color);
      }
      .ingredients__list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        list-style: none;
        padding-left: 0;
        font:
          14px chivo,
          sans-serif;
        color: var(--ingredients-primary-accent-color);
        font-weight: bold;
        gap: 10px;
        margin: 0;
        .ingredients__list-item {
          background-image: url(../img/ingredients-list-style.svg);
          background-repeat: no-repeat;
          background-size: 20px 24px; /* Adjust these values */
          background-position: 0 center;
          padding-left: 36px; /* Space for the image */
        }
      }

      .ingredients__description {
        font:
          17px chivo,
          sans-serif;
        color: var(--ingredients-description-color);
        margin: 0;
      }

      .ingredients__button {
        background-color: var(--ingredients-primary-accent-color);
        color: var(--header-button-accent-color);
        max-width: 161.99px;
        width: 161.99px;
        height: 46.8px;
        font:
          14px chivo,
          sans-serif;
      }
    }
  }
}
